<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="blueGemstone.dao.PublicMapper">
	<select id="getVarChangeAvgValue" resultType="java.lang.Float">
		select avg(value) value from VarChange where name=#{name} and createTime&lt;#{time} and updated=0
	</select>
	<select id="selectVarChangeLineData" resultType="blueGemstone.entity.VarChange">
		select * from (select convert(varchar(12),CreateTime,108) createTime,value,ROW_NUMBER() over(order by createtime) as rowNumber from VarChange where name=#{name})t where rowNumber between (#{page}-1)*#{row}+1 and #{page}*#{row}
	</select>
	<select id="getVarChangeReportDataCount" resultType="java.lang.Integer">
		select count(*) from VarChange where createTime between DATEADD(D,-7,createTime) and createTime
		<if test="name!=null">
			and name=#{name}
		</if>
	</select>
	<select id="selectVarChangeReportData" resultType="blueGemstone.entity.VarChange">
		select * from (select id,name,convert(varchar,CreateTime,120) createTime,value,state,ROW_NUMBER() over(order by name,createtime) as rowNumber from VarChange where createTime between DATEADD(D,-7,createTime) and createTime
		<if test="name!=null">
			and name=#{name}
		</if>
		)t where rowNumber between (#{page}-1)*#{rows}+1 and #{page}*#{rows}
	</select>
	<select id="selectVarAvgChangeLineData" resultType="blueGemstone.entity.VarAvgChange">
		select * from (select convert(varchar(12),CreateTime,108) createTime,value,ROW_NUMBER() over(order by createtime) as rowNumber from VarAvgChange where name=#{name})t where rowNumber between (#{page}-1)*#{row}+1 and #{page}*#{row}
	</select>
	<select id="selectWarnRecordReportData" resultType="blueGemstone.entity.WarnRecord">
		select id,name,convert(varchar,CreateTime,120) createTime,value,state from WarnRecord where 1=1
		<if test="name!=null">
			and name=#{name}
		</if>
		order by name,createtime
	</select>
	<select id="selectWarnHistoryRecordReportData" resultType="blueGemstone.entity.WarnHistoryRecord">
		select * from (select id,name,convert(varchar,CreateTime,120) createTime,value,state,ROW_NUMBER() over(order by name,createtime) as rowNumber from WarnHistoryRecord where createTime between DATEADD(D,-7,createTime) and createTime)t where 1=1
		<if test="name!=null">
			and t.name=#{name}
		</if>
	</select>
	<select id="selectLastLoginRecordByName" resultType="blueGemstone.entity.LoginRecord">
		select top 1 * from LoginRecord where name=#{name} order by createTime desc
	</select>
	<select id="getVarStateByName" resultType="java.lang.Integer">
		select top 1 state from VarChange where name=#{name} order by createTime desc
	</select>
	<select id="getCurrentVarValue" resultType="java.lang.Float">
		select top 1 value from VarChange where name=#{name} order by createTime desc
	</select>
	<select id="selectVarWarnLimitData" resultType="blueGemstone.entity.VarWarnLimit">
		select * from VarWarnLimit
	</select>
	<insert id="insertVarChange" parameterType="blueGemstone.entity.VarChange">
		insert into VarChange (id,name,value,createTime,state,updated,memo) values(#{id},#{name},#{value},#{createTime},#{state},0,#{memo})
	</insert>
	<insert id="insertVarAvgChange" parameterType="blueGemstone.entity.VarAvgChange">
		insert into VarAvgChange (id,name,value,createTime,state,memo) values(#{id},#{name},#{value},#{createTime},#{state},#{memo})
	</insert>
	<insert id="insertWarnRecord" parameterType="blueGemstone.entity.WarnRecord">
		insert into WarnRecord (id,name,value,createTime,state,memo) values(#{id},#{name},#{value},#{createTime},#{state},#{memo})
	</insert>
	<insert id="insertWarnHistoryRecord" parameterType="blueGemstone.entity.WarnHistoryRecord">
		insert into WarnHistoryRecord (id,name,value,createTime,state,memo) values(#{id},#{name},#{value},#{createTime},#{state},#{memo})
	</insert>
	<insert id="insertLoginRecord" parameterType="blueGemstone.entity.LoginRecord">
		insert into LoginRecord (userId,name,userType,token,createTime) values(#{userId},#{name},#{userType},#{token},#{createTime})
	</insert>
	<update id="updateVarChange">
		update VarChange set updated=1 where name=#{name} and createTime&lt;#{time} and updated=0
	</update>
	<delete id="deleteWarnRecordByName">
		delete from WarnRecord where name=#{name}
	</delete>
</mapper>